<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	

	<div class="text-left">
		<img align="left" src="/assets/images/isrlLogo1.png" style="max-width:400px; width:100%; margin-bottom: 10px"/>
	</div>
	<br>
	

	<nav class="w3-bar w3-black">
		{% for page in site.pages %} {% if page.title %}
		<a href="{{ page.url | prepend: site.baseurl }}" class="w3-button w3-bar-item">{{ page.title }} </a>
		{% endif %} {% endfor %}
	</nav>
	<br>
	
	<style>
		@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans+Condensed:300,700|Pontano+Sans|Source+Sans+Pro');
	</style>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	

	<link rel="stylesheet" href="{{ " /assets/css/uqLab.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	
	<!-- MathJax 3.0 -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>